{% extends 'uniconnect_app/base.html' %}
    {% block content %}

            <div class="box login-box">
                <div class="heading">LOGIN</div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                             </div>
                        {% endfor %}
                     {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn-primary box-btn">Login</button>
                        <button type="reset" class="btn-primary box-btn">Clear</button>
                    </form>
                <div class="login-noaccount">No Account? Please <a href="/signup/"> Signup </a> <br>or forgot password please
                <a href="/password_reset/"> Reset </a></div>
                </div>

        {% endblock %}
