{% extends 'uniconnect_app/base.html' %}

{% load comments %}
{% block content %}


<div class="container">
    <div class="span3 well">
        <center>
            {% if u.profile.profile_picture_link %}
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{u.profile.profile_picture_link}}" name="aboutme" width="140" height="140" class="img-circle"></a>
            {% elif u.profile.profics == 1 %}
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Penguin-512.png" name="aboutme" width="140" height="140" class="img-circle"></a>
            {% elif u.profile.profics == 2 %}
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Cat-512.png" name="aboutme" width="140" height="140" class="img-circle"></a>
            {% elif u.profile.profics == 3 %}
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Rabbit-512.png" name="aboutme" width="140" height="140" class="img-circle"></a>
            {% else %}
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Panda-512.png" name="aboutme" width="140" height="140" class="img-circle"></a>
            {% endif %}
            <h2>{{u.username}}<small>&nbsp;{{u.profile.location}}</small></h2>
            <h3><small>{{u.profile.uni}}, Year {{u.profile.year}}</small></h3>
            <em>click my face for more</em>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About {{u.username}}</h4>
                    </div>
                <div class="modal-body">
                    <center>
                        {% if u.profile.profile_picture_link %}
                        <img src="{{u.profile.profile_picture_link}}" name="aboutme" width="140" height="140" class="img-circle"></a>
                        {% elif u.profile.profics == 1 %}
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Penguin-512.png" name="aboutme" width="140" height="140" class="img-circle"></a>
                        {% elif u.profile.profics == 2 %}
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Cat-512.png" name="aboutme" width="140" height="140" class="img-circle"></a>
                        {% elif u.profile.profics == 3 %}
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Rabbit-512.png" name="aboutme" width="140" height="140" class="img-circle"></a>
                        {% else %}
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Panda-512.png" name="aboutme" width="140" height="140" class="img-circle"></a>
                        {% endif %}
                    <h3 class="media-heading heading">{{u.username}}<small>&nbsp;{{u.profile.location}}</small></h3>
                    <span><strong>Date Joined: </strong>{{u.profile.date_joined}}</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left heading"><strong>Bio: </strong><br>
                        {{ u.profile.bio }}</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Mail</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

     {% for post in posts %}
         <div class="profile-post">
         <div class="post-title">
             <a href="/post/{{post.id}}/">{{ post.subject }}</a>
             <span class="author float-right"> published by: <a href="/profile/{{ post.author}}">{{ post.author }}</a></span>
         </div>
         <div class="post-content"> {{ post.content}}</div>
         {% get_comment_count for post as comment_count %}
               <div class="post-date">
                   <div class="float-left">{{post.post_date}}</div>
                   <div class="float-right">
                   {{ comment_count }} comments have been posted.</div>

               </div>
</div>
             {% endfor %}






{% endblock %}