{% extends 'uniconnect_app/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

<div class="container" style="width:40%">
    <h3>{{post.subject|title}}</h3>
    {% if user == post.author %}
    <a href="/post/{{post.id}}/edit">edit</a>
    {% endif %}
    <h4>By <i>{{post.author.username}} </i></h4>
    <img src="{{post.picture_link}}" width="140" height=auto></a>
    {% if tags %}
    <h4>Tags: 
        {% for tag in tags %}
        <a href="/tag/{{tag.tag}}/">{{tag.tag}}</a>
        </i>
        {% endfor %}
        {% endif %}
    </h4>
        <p><i>Published on </i> {{ post.post_date }} </p>
    <p> {{post.content}} </p>


<form class="formFollowEvent">
    {% csrf_token %}
    <input type="hidden" value="{{ post.id }}" name="post_id">
    <button type="submit" class="btn btn-warning btn-block">
        {% if user in post.followers.all %}
            {% trans "Unfollow" %}
         {% else %}
            {% trans "Follow" %}
        {% endif %}</button>
</form>
<script>
    $('.formFollowEvent').on('submit', function(e) {
    e.preventDefault();

    var $this = $(this);
    var button = $this.find('button[type="submit"]');
    var post_id = $this.find('input[name="post_id"]').val();

    $.ajax({
        url: "follow/",
        data: {
            post_id: post_id
        },
        success:function(data){
             button.text((data.following) ? "Unfollow" : "Follow");
        }
    })
});
</script>

    {% if user == post.author %}
        <a class="confirm-delete" href="{% url 'delete-post' post.id %}">Delete</a>
        <script>
        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this post?');
        })
        </script>
    {% endif %}
    <p>{{ comments|length }} comments have been posted. </p>
    {% for comment in comments %}
        <h4>{{ comment.author }} commented</h4>
        <p>{{ comment.comment_date }}</p>
        <p>{{ comment.text }}</p>
        {% if user == comment.author %}
            <a href="/comments/delete_own/{{comment.id}}">[X] Delete Comment</a></td>
        {% endif %}
    {% endfor %}

</div>
    <!--<a href=  % url 'delete-post'%}>delete</a> -->
<!-- A context variable called form is created with the necessary hidden
fields, timestamps and security hashes -->
    {% if user.is_authenticated %}
    <form action="comments/add/" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="/login/">log in</a> to leave a comment.</p>
{% endif %}


{% endblock %}
